body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

h1{
  background-color:#314147;
  color:#FFFFFF;
  font-size:30px;
  line-height: 50px;
}

h2{
  font-family: Helvetica, Trebuchet, Verdana, sans-serif;
  color: #ff0000;
  font-style:italic ;
  font-weight:bold;
  font-size:30px;
}

.header{
  position: absolute;
  left:210px;
  top:10px;
  font-family: Helvetica, Trebuchet, Verdana, sans-serif;
  color:#314147;
  font-style:italic ;
  font-weight:bold;
  font-size:30px;
  line-height: 8px;
}

.right-top{
  font-size:10px;
  text-align:center;
  line-height: 8px;
}

.right-lower{
  font-size:10px;
  text-align:left;
}
