.main-container {
   width:469px;
   height:1024px;
   background-color: #FFFFFF;
   padding:1em;
}

.woman span{
  position:absolute;
  left:85px;
  top:55px;
  text-align:left;
  font-size:10px;
  color:#314147;
}

.living-room{
  position:absolute;
  top:430px;
}

.queen{
  position:absolute;
  top: 740px;
  left:0px;
}

.logo{
  position:absolute;
  top:710px;
  left:175px;
}

.guarantee{
  position:absolute;
  top:825px;
  left:425px;
}

.right-top{
  position:absolute;
  height:300px;
  width:235px;
  left:265px;
  top:110px;
}

.right-middle{
  position:absolute;
  height:200px;
  width:235px;
  left:260px;
  top:540px;
}

.left-middle{
  position:absolute;
  height:200px;
  width:235px;
  left:5px;
  top:640px;
  padding-left:1em;
}

.left-lower{
  position:absolute;
  height:165px;
  width:235px;
  left:0px;
  top:930px;
  padding-left:1em;
  padding-bottom:1em;
}

.right-lower{
  background-color:#FFFFFF;
  position:absolute;
  height:165px;
  width:235px;
  left:255px;
  top:-60px;
  border-style:dashed;
  padding-bottom: 1em;
}
